/*Pie de página */
.footer {
    background-color: #282828;
    height: 120px;
    color: white;
        .container{
            ul{
                list-style: none;
                li{
                    display: inline; 
                    a{
                        text-decoration: none;
                        color: white;
                        transition: 0.5s;
                        padding: 0px 5px;
                        &:hover{
                            text-decoration: underline;
                        }
                        img{
                            width: 20px;
                        }
                    }
                }
            }
            .derechos{
                display: flex;
                justify-content: space-between;
                p{
                    height: 100%;
                }
            }
        }

    }
    #redesSociales{
        display: flex;
        justify-content: center; 
        height: 100%;
    }
    /*Media query*/
    @media (max-width: 768px){
        .footer{
            height: 370px;
            .container{
                ul{
                    li{
                        display: flex;
                        padding: 0px 10px;
                        justify-content: center;
                        padding: 10px 0;
                    }
                }
                .derechos{
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        #redesSociales{
            display: flex;
            justify-content: space-around; 
            height: 100%;
        } 
    }