/*Estilos Globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-color;
    padding-top: 5.8rem;
}
/*Personalizando el Carrusel*/
.carousel-item {
    height: 32rem;
  }
/*Personalizamos el logo*/
#mainLogo{
    height: 3rem;
    padding: 2px;
}
/*tamaño estandar a las imágenes*/
.card-img-top{
    height: 15rem;
}
.card-img{
    height: 19rem;
}
.img-thumbnail{
    height: 18rem;
}
.product{
    height: 15rem;
}
.prov{
    height: 13rem;
}
.sec{
    height: 15rem;
}
.carousel-caption{
    text-shadow: 1px 1px 2px black;
}
.textWhite{
    color: white;
}